.list-group    
    a.list-group-item.list-group-item-action(href='') Category 1
    a.list-group-item.list-group-item-action(href='') Category 2
    a.list-group-item.list-group-item-action(href='') Category 3