extends ../layouts/main-layout.pug

block content
    if(action !== "undefined" && action === "create")
        div.alert.alert-success The category has been created. 
    if(action !== "undefined" && action === "delete")
        div.alert.alert-danger The category has been deleted.                
    if(action !== "undefined" && action === "edit")
        div.alert.alert-warning The category has been updated.
    if categories.length > 0
        table.table.table-bordered
            thead 
                tr 
                    th(style="width: 200px;")  Category Name 
                    th Description
                    th(style="width: 133px;") 
                tbody 
                    each category in categories
                        tr 
                            td #{category.name}
                            td #{category.description}
                            td 
                                form(action="/admin/delete-category" method="POST")
                                    input(type="hidden" name="categoryId" value=`${category._id}`)
                                    a.btn.btn-primary.btn-sm.me-2(href=`/admin/edit-category/${category._id}`) Edit
                                    button.btn.btn-danger.btn-sm(type="submit") Delete
    else 
        h1 No Categories